/* Global */
$mColor:#1077A3;
body{
   font-family: 'Open Sans', sans-serif;
   font-size:14px;
   overflow-x: hidden;
}

 /* Navbar Start */
 .navbar-light{

    &.navbar{
      background:$mColor;   
      color:#FFF;
      padding:0;
      .navbar-brand{
         padding: 0;
      }
      

      .nav-link{
         color:#FFF;
         &:hover{
            background-color: rgba(238, 238, 238, 0.19);
            color: rgba(0, 0, 0, 0.7);
         }
         .fas{
            margin: 3px;
         }
      }
   }
}   

.navbar-default{
   border: none;
   max-height: 50px;
   margin: 0;
   .navbar-brand{
      color: #FFF;
      font-size: 1.7em;
      &:hover,
      &:focus{
         color:#FFF;
      }
      span{
         font-weight: bold;
      }
   }

}
.color-change{
   background:#434950;
   @extend %transition
   }
nav {

   .toggle {
      width: 30px;
      height: 50px;
      display: inline-block;
      margin: 0px;
      position: relative;
      float: right;
      .checker {
         width: 40px;
         height: 40px;
         cursor: pointer;
         position: absolute;
         top: 0;
         left:0;
         z-index: 1;
         opacity: 0;
         margin: 0;
         &:checked{
            + span{
               -webkit-transform: rotate(-90deg);
               -ms-transform: rotate(-90deg);
               transform: rotate(-90deg);
               background: transparent;
               &:before,&:after{
                  top:0;
               }
               &:before{
                  top: 0;
                  -webkit-transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
               }
               &:after{
                  top: 0;
                  -webkit-transform: rotate(-45deg);
                  -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg);
               }
            }
         }
      }
      span{
         @extend %transition;
         width: 100%;
         height: 3px;
         background: #fff;
         position: absolute;
         top: 25px;
         left: 0;
         
         &:after,&:before{
            @extend %transition;
            content: '';
            position: absolute;
            width: 30px;
            height: 3px;
            background: #fff;
            left: 0;
            
         }
         &:after{
            top: 10px;
         }
         &:before{
            top: -10px;
         }
      }
      
      :hover .checker + span:before{
         top: 10px;
      }
      :hover .checker + span:after {
         top:-10px;
      }
      :hover .checker:checked +span:before{
         top: 0;
      }
      :hover .checker:checked +span:after{
         top: 0;
      }


   } /* Toggle class close*/

   
} /* Nav tag close*/
.fixed_menu{
   // @extend %transition;
   width: 30%;
   height: 100vh;
   background-color: #f3f3f3;
   padding: 10px 0;
   position: fixed;
   z-index: 1; 
   left:-30%;
   top:0;
   
   ul{
      padding: 0;
      margin: 0;
   }
   li{
      color: #4f4f4f;
      list-style-type: none;
      font-size:13px;   
      padding: 10px 15px;
      border-bottom:1px solid #ddd;
   }
   li a{
      text-decoration: none;
      color: #4f4f4f;
   }
      
}
   /* Navbar End */
.head{
   padding: 20px 0;
   
   .form-row{
      input:first-of-type{
         border-top: #1077A3 2px solid;
         border-radius: 0px;
         border-left: #1077A3 2px solid;
         border-bottom: #1077A3 2px solid;
      }
      #sCategory{
         min-height: 40px;
         background: #f1efef;
         border-top: #1077A3 2px solid;
         border-bottom: #1077A3 2px solid;
         border-radius: 0px;
      }
      .btn-primary{
         background-color: #1077A3;
         border-color:#1077A3;

         &:hover{
            background: #0062cc;
         }
      }
   }
}
%transition{
   -webkit-transition: all .5s ease-in-out;
   -moz-transition: all .5s ease-in-out;
   transition: all .5s ease-in-out;

   /* Extended Classes End */

}