// Global

$purple:#615FA3;

$blue:#1077A3;
.form-control:focus,.btn-primary:not(:disabled):not(.disabled):active:focus,{
	box-shadow:none;
}
/*Index Page Style Start*/
#slider1{
	.carousel-inner{
		.carousel-item{
			height: 600px;
			background-size: cover;
			background-position: center;
			&.img-c-1{
				background: url('../img/slider-1.jpg');
			}
			&.img-c-2{
				background: url('../img/slider-2.jpg');
			}
			&.img-c-3{
			background: url('../img/slider-3.jpg');
			}
		
		}
	}
}
.search-bar{
   padding: 25px 0;
	form{
		width: 100%;
		padding-right: 5px;
		padding-left: 5px;
	}
   .input-group{
   		padding-right: 5px;
	     .form-control{
	     	padding-right: 0;
	     }
   }
   .sort{
      	list-style:none;
    	padding-left: 5px;
    	padding-right: 5px;
      	li{
        	display: inline-block;
      	}
   		.float-right{
	   		a{
			    line-height: 14px;
			    border-radius: 5px;
		    	padding: 5px 12px;	
			    &:hover{
				    background: #0069d9;
				    color: #FFF !important;
			   		text-decoration:none;
			   	}
   			}
   		}
	}
}

/*ADD Product Page Style Start*/
.add-product{
	padding:50px 0;
	h3{
		margin-left: -15px;
		&::after{
			
		}
	}
	
	li.nav-item {
    	margin-right: 5px;
    	border: 1px solid #DFDFDF;
	    border-bottom: none;
    	border-top-right-radius: 4px;
		border-top-left-radius: 4px;
    	a{
			padding: 3px 0.5em;
		    background: #F1F1F1;
		    text-decoration: none;
		    color: #999999;
    	}
    	&.active{
    		a{
    			background:#E3EEF7;
    			color:#333;
    		}
		}
	}
	form{
		width: 100%;
		border: 1px solid #dfdfdf;
		.arabic,.deutsche,.spain{
			display: none;
		}
	}
}
/*ADD Product Page Style End*/
.ann{
	.container{
		padding-left:0;
		ul.list-group{
			.list-group-item{
				&:hover{
					background: #F1F1F1;
					cursor: pointer;
				}
				&:hover a{
					color:$blue;
					text-decoration:none;

				}
				a{

					color:#000;
					font-size: 12px;
				}
			}
		}
		.ad1{
			padding: 12px 20px;
			& > img{
				width: 100%;
			}
		}
		// RibboN Start
			
		// RibboN End
		.owl-carousel{
			.owl-item{
				.card{
					background:#FBFFB9;
					padding-top: 15px;
					border:none;
					text-align: center;
					&:hover{
					border:none;
					}
					img{
						width: 80%;
						margin-right: auto;
						margin-left: auto;
					}
				}
			}
		}
		.card{
			margin-bottom: 10px;
			&:hover{
				-moz-box-shadow: 0 0 10px #ccc;
			    -webkit-box-shadow: 0 0 10px #ccc;
			    box-shadow: 0 0 10px #ccc;
				text-decoration:none;

				transition:all .4s ease-in-out;
			}
			a:hover{
				text-decoration:none;
			}
		}
		.card:last-of-type{
			margin-right: 0;
		}
		ul.pagination{
			margin-top: 1rem;
		}
		ul.nav{
			margin-bottom: 1rem;
			&:first-of-type{
				margin-left: 0;
			}
			li{
				margin:0 .35rem;
				a{
					color:#FFF;
				&.active{
					color:#ffefa1;
				}
				}
			}
			ul.marg{
				&:first-of-type{
					margin-left: auto;
					span.btn-dark,select.btn-dark{
						cursor: default;
					}
				}
			}
		}
	}
}

/*Index Page Style END*/
/*Footer Start*/
footer{
	background: $blue;
	overflow: hidden;
	padding: 15px 0;
	color:#FFF;
	a{
		color:#FFF;
		text-decoration:none;
		&:hover{
			color:#ccc;
			text-decoration:none;
		}
	}
}
/*Footer END*/



/* Product Page Start */
.product{
	h4,h5,h6{
		color:$purple;
	}
	.description{
		p{
			border-bottom:1px dotted #ccc;
			padding-bottom: 10px;
		}
	}
	.comment{
		margin-bottom: 10px;
		p{
			margin-left: 5px;
			font-weight:500;
		}
	}
	.product-info{
		text-transform:uppercase;
		border:1px dotted #CCC;
		padding: 15px;
		p{
			color:#333;
			margin-bottom: 5px;
			
		}
		.price-info{
			border-bottom:1px dotted #CCC;

			p{
				font-size:1.4rem;
				font-weight:500;
			}
		}
		.sub-info{
			margin-top: 5px;


			p{
				font-size:1.1rem;
				text-align: left;
				border-bottom:1px dotted #CCC;
				padding: 10px 0;
				&:last-of-type{
					border:none;
				}
			}
		}
	}
	.more-info{
		margin: 10px 0;
			img{
				width: 75px;
				height: 75px;
			}
			.user{
				margin-left: 10px;
			}
		
		.sub-info{
			border:none;
		}
		h6{
			padding-bottom: 10px;
			border-bottom: 2px solid $blue;
		}
		p{
			border-bottom:1px dotted #CCC;
			padding-bottom: 8px;
		}
		a{
			color:#A38B15;
			margin-top: 25px;
		}
		.btn-primary{
			color:#FFF;
		}
	}
	.sponser-ads{
		border: 1px dotted #CCC;
		.wrap{
			padding: 10px;
			h6{
				border-bottom: 2px solid $blue;
				padding: 10px;
			}
			.item{
				display: flex;
				align-items:center;
				border-bottom:1px dotted #CCC;
				&:last-of-type{
					border:none;
				}
				.price-info{
					a{
						color:#A38B15;
						font-size:12px
					}
				}
			}
			img{
				width: 50px;
				height: 50px;
			}
			.price-info{
				.text-muted{
					margin-bottom: 1px;
					font-size:12px;
				}
			}
		}

	}
}
/* Product Page End */

/* Login Page Start */
.login{
	padding: 38px 0;
}
.login, .register{
	
	h2{
		color:$blue;
	}
	.row{
		justify-content:center;
		.form-row{
			width: 60%;
			.checkbox{
				padding-right: 5px;
				padding-left: 5px;
			}
		}
	}
}
.contact{
	padding: 35px 0;
	h2{
		color:$blue;
	}
	.form-row{
		width: 100%;
		
	}
}
/* Login Page End */

/* Vendor Page Start */
.vendor{
	h4{
		color:$purple;
	}
	.avatar{
		img{
		    border: #f1efef 6px solid;
		}
	}
	.title{
		border:1px dotted #CCC;
		h6{
			color:$purple;
			padding: 10px;
   			margin: 0;
		}
	}
	.user-info{
		border:1px dotted #CCC;
		padding: 10px;
		p{
			margin-bottom: .1rem;
			font-weight:500;
			span{
				font-weight:300;
			}
		}
	}
	.card-group{ 
		.card {
			&:hover{
				transition:all .4s ease-in-out;
				-moz-box-shadow: 0 0 10px #ccc;
			    -webkit-box-shadow: 0 0 10px #ccc;
			    box-shadow: 0 0 10px #ccc;
			}
		    margin-bottom: 10px;
		    .card-body{
		    	a{
		    		color:$purple;
		    	}
			    .sub{
			    	
			    	border-top:1px dotted #CCC;
			    	padding-top: .75rem;
			    	margin-top: .75rem;
			    	a{
			    		color:#A38B15;
			    		font-weight:500;
			    	}
			    	i{
			    		margin-right: .5rem;
			    	}

			    }
			}
		}
	}
}

/* Vendor Page End */